<!-- フッター -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-info">
                    <img src="images/logo-white.png" alt="ふらっと法務事務所" class="footer-logo">
                    <p>〒XXX-XXXX<br>神奈川県横浜市○○区△△町X-X-X</p>
                    <p>TEL: 045-XXX-XXXX</p>
                    <p>営業時間: 平日9:00〜18:00</p>
                    <div class="privacy-mark-container">
                        <img src="images/privacy-mark.png" alt="プライバシーマーク" class="privacy-mark">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-links">
                            <h3>サイトマップ</h3>
                            <ul>
                                <li><a href="index.html">ホーム</a></li>
                                <li><a href="service.html">サービス紹介</a></li>
                                <li><a href="flow.html">支援の流れ</a></li>
                                <li><a href="cases.html">成功事例</a></li>
                                <li><a href="knowhow.html">入札ノウハウ</a></li>
                                <li><a href="blog.html">ブログ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-links">
                            <h3>会社情報</h3>
                            <ul>
                                <li><a href="about.html">会社概要</a></li>
                                <li><a href="about.html#staff">スタッフ紹介</a></li>
                                <li><a href="about.html#access">アクセス</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-links">
                            <h3>お問い合わせ</h3>
                            <ul>
                                <li><a href="contact.html">無料相談</a></li>
                                <li><a href="contact.html#document">資料請求</a></li>
                                <li><a href="knowhow.html#faq">よくある質問</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-copyright">© 2025 ふらっと法務事務所 All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="footer-policy-links">
                        <a href="privacy.html">プライバシーポリシー</a>
                        <span class="separator">|</span>
                        <a href="terms.html">特定商取引法に基づく表記</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
